body{
	margin: 0;
    padding: 0;
    width: 100%;	
	background-color: white;
	color: black;
	text-align: center;
	font-family: 'Roboto';
}
.menu, .left, .center, .footer{
	height: auto;
	font-size: 18px;
}
.header{
	position: fixed;
	height: auto;
	width: 100%;
	font-size: 20px;
	background: white;
}
hr {
	border: none;
	margin: 0;
    background-color: grey;
    color: grey;
	height: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.center{
	padding-top: 7rem;
	margin-left: 25%;
	width: 50%;
}
.type{
	margin-left: 15%;
	width: 70%;
}
.type h3{
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-left: 5%;
	margin-bottom: 0%;
	width: 90%;
	border: 1px solid grey;
	background-color: gainsboro;
	border-radius: 5px 5px 0px 0px;
}
.type h4{
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-left: 15%;
	width: 70%;
	border: 2px solid cornflowerblue;
	background: cornflowerblue;
	color: white;
	border-radius: 5px;
}
.type hr{
	margin-top: 2rem;
}
.free, .pro, .enterprise, .new-type {
	margin-top: 0;
	margin-left: 5%;
	width: 90%;
	border: 1px solid grey;
	border-radius: 0px 0px 5px 5px;
}
.hoverMy h4 {
	background: white;
	color: cornflowerblue;
}
h4:hover { 
	background: cornflowerblue;
	color: white;
}
.footer{
	padding-top: 2rem;
	padding-bottom: 3rem;
	margin-left: 15%;
	width: 70%;
	text-align: left;
	font-size: 18px;
}
.footer table thead{
	font-size: 20px;
	font-weight: bold;
}
.button {
	width: 8%;
	border: 2px solid cornflowerblue;
	background: white;
	color: cornflowerblue;
	border-radius: 5px;
}
.button:hover { 
	background: cornflowerblue;
	color: white;
}
.headerOne{
	margin-right: 45%;
}
.w-30{
	width: 30%;
}
#w-30-1{
	width: 30%;
}
#w-30-2{
	width: 30%;
}
#w-30-3{
	width: 30%;
}
#w-30-4{
	width: 30%;
	display: none;
}
#imgBootstrap{
	width: 20%;
}
#x1, #x2, #x3, #x4{
	width: 5%;
	height: 5%;
}
.form{
	padding-top: 2rem;
	padding-left: 15%;
	width: 70%;

}